# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Database files (si usas SQLite local)
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db